doctype html
html(lang="es")
    head
        title Ejemplo de Layout
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
    body(background="/images/Colors1.jpg")
        center
            h1(class="text-white") Toda este segmento es fijo
        hr
        br
        block content
        br
        hr

        