doctype html
html(lang="es")
    head
        block titulo
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
    body
        center
            h1(class="text-success") Toda este segmento es fijo
        hr
        br
        block content
        br
        hr
        